.login {
  background: linear-gradient(#f49f0a, #efca08);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.login h1 {
  color: #ffffff;
}

.login p {
  color: #ffffff;
}

.login a {
  background: #1db954;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 100px 100px 100px 100px;
}
