#child {
  display: flex;
  justify-content: center;
  align-items: center;
}

#child:nth-child(2n + 0) {
  justify-content: right;
}

#child:nth-child(4n + 0) {
  justify-content: left;
}

.background {
  background: linear-gradient(#f49f0a, #efca08);
}
.container {
  display: flex;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  font-size: 64px;
  color: #ffffff;
}

.container {
  padding-bottom: 20px;
}

.selectors {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.error {
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error p {
  font-size: 18px;
  color: #ffffff;
}
