.bubble {
  background: red;
  border-radius: 50%;
  width: 550px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 500ms ease-in-out
}

.bubble:hover {
  width: 600px;
  height: 600px;
}

.bubble h1 {
  width: 400px;
  font-size: 32px;
  font-size: 1vw;
  color: #FFFFFF
}

.bubble p {
  font-size: 0.75vw;
  color: #FFFFFF
}

.image {
  max-width: 275px;
  max-height: 275px;
}