.background {
  background: linear-gradient(#F49F0A,#EFCA08)
}
.container {
  display: flex;
}

#child {
  display:flex;
  justify-content: center;
  align-items: center;
}

#child:nth-child(2n+0) {
  justify-content: right;
}

#child:nth-child(4n+0) {
  justify-content: left;
}